<h2 class="display-5 border-bottom pb-2 mt-3 mb-3">メソッド一覧</h1>
<p>メソッド一覧です。</p>
<%= render partial: "form/ruby", locals: { blogs: @blogs } %>
<%= render partial: "form/rails", locals: { rails: @rails } %>
