<h2 class="display-5 border-bottom pb-2 mt-3 mb-3">お気に入り一覧</h1>
<p>お気に入りをした一覧が表示されます。</p>
<%= render partial: "form/ruby", locals: { blogs: @blogs } %>
<%= render partial: "form/rails", locals: { rails: @rails } %>
