<% if rails.present? %>
  <table>
    <tr>
      <th class="col-3 index-th"></th>
      <th class="col-7 index-th">メソッド名</th>
      <th class="col-2 index-th text-center">check</th>
    </tr>

    <% rails.each do |rail| %>
      <tr>
        <% if rails.first.id == rail.id %>
          <td class="col-2 td1"><strong>Railsメソッド</strong></td>
        <% else %>
          <td class="col-2 td1"></td>
        <% end %>
        <td class="col-9"><%= link_to rail.name + "メソッド", rail %></td>
        <td class="col-1">
          <%= "✔️" if Comprehension.find_by(user_id: current_user.id, blog_id: rail.id).present? %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
