<% if blogs.present? %>
  <table>
    <tr>
      <th class="col-2 index-th"></th>
      <th class="col-9 index-th">メソッド名</th>
      <th class="col-1 index-th text-center">check</th>
    </tr>
    <% blogs.each do |blog| %>
      <tr>
        <% if blogs.first.id == blog.id %>
          <td class="col-3 td1"><strong>Rubyメソッド</strong></td>
        <% else %>
          <td class="col-3 td1"></td>
        <% end %>
        <td class="col-8"><%= link_to blog.name + "メソッド", blog %></td>
        <td class="col-1">
          <%= "✔️"if Comprehension.find_by(user_id: current_user.id, blog_id: blog.id).present? %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
