<% if blogs.present? %>
  <table class="container">
    <tr class="row">
      <th class="col-2 index-th"></th>
      <th class="col-9 index-th">メソッド名</th>
      <th class="col-1 index-th text-center">check</th>
    </tr>
    <% blogs.each do |blog| %>
      <% if blog.user_id == current_user.id %>
        <tr class="row">
          <% if blogs.first.id == blog.id %>
            <td class="col-2 td1"><strong>Rubyメソッド</strong></td>
          <% else %>
            <td class="col-2 td1"></td>
          <% end %>
          <td class="col-9"><%= link_to blog.name + "メソッド", blog %></td>
          <td class="col-1 text-center">
            <%= "✔️"if Comprehension.find_by(user_id: current_user.id, blog_id: blog.id).present? %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
