<%= image_tag "ruby.png", class: "col-12 top-image" %>

<div class="top-main">
  <div class="col-6 main-image">
    <h3>記事一覧</h3>
    <div id="article" class="col-12">
      <p>2023.1.27 おじさんおじさんおじさんおじさんおじさん</p>
      <p>2023.1.27 おじさんおじさんおじさんおじさんおじさん</p>
      <p>2023.1.27 おじさんおじさんおじさんおじさんおじさん</p>
      <p>2023.1.27 おじさんおじさんおじさんおじさんおじさん</p>
      <p>2023.1.27 おじさんおじさんおじさんおじさんおじさん</p>
      <p>2023.1.27 おじさんおじさんおじさんおじさんおじさん</p>
    </div>
    <div class="article-link">
      <%= link_to "すべての記事を見る", blogs_path %>
    </div>
  </div>
  <div class="col-6 main-image">
    <h3>メソッド一覧</h3>
    <div class="method-image">
      <div class="col-6 method-block">
        <p>Rubyメソッド</p>
        <%= image_tag "ruby1.png", class: "method-image1" %>
      </div>
      <div class="col-6 method-block">
        <p>Railsメソッド</p>
        <%= image_tag "rails1.png", class: "method-image1" %>
      </div>
    </div>
  </div>
</div>
